{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>forgot password</title>
{% endblock title %}

{% block content %}

<!-- Page Header Start -->

<!-- Page Header End -->
{% if messages %}
{% for message in messages %}
    <center><h5 style="color: rgb(192, 51, 51);">{{message}}</h5></center>
{% endfor %}
{% endif %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="card" style="width: 60%;">
            <div class="card-body">
                <center><h5 class="card-title">forgot password</h5></center>

                <form action="{% url 'forgot' %}" method="post">
                    {% csrf_token %}
                
                  Enter your mail id :<input type="email" name="email"><br>
                    <br>    <button type="submit" style="background-color: coral; color: white;">Send Email</button>
                    <a href="/login">Go back</a>
                </form>
            </div>
        </div>
    </div> 
</div>
</div>

{% endblock content %}

