
{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>reset password</title>
{% endblock title %}

{% block content %}

<!-- Page Header Start -->

<!-- Page Header End -->
{% if messages %}
{% for message in messages %}
    <center><h5 style="color: rgb(192, 51, 51);">{{message}}</h5></center>
{% endfor %}
{% endif %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="card" style="width: 60%;">
            <div class="card-body">
                <center><h5 class="card-title">Reset password</h5></center>
                <form action="" method="post">
                    {% csrf_token %}
                
                New password:
                <input type="text" name="newpassword"><br>
                confirm password:
                <input type="text" name="cpassword"><br>
                <button type="submit">set new password</button>
                </form>
            </div>
        </div>
    </div> 
</div>
</div>

{% endblock content %}

